*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", "Arial", sans-serif;
  color: $blackFontColor;

  a {
    text-decoration: none;
    color: inherit;
  }

  img,
  video {
    max-width: 100%;
    height: auto;
    display: block;
  }

  button {
    font-family: inherit;
    font-size: inherit;
    background: none;
    border: none;
    cursor: pointer;
  }
}
